# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# ====================================================
# GOOGLE OAUTH CONFIGURATION
# ====================================================
GOOGLE_CLIENT_ID=435468545983-r0nt73dq6l0918bii0l8o9hk5j4iclk2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

